*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
}

/* ========== Header ========== */
.header{
    display: flex;
    background-color: #255EE9;
    justify-content: center;
    padding-top: 10px;
}

.container-nav{
    display: flex;
    background-color: #255EE9;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.nav-item.links a{
  margin: 0 10px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 15px;

}

.nav-item.logo{
    text-align: left;
}

.nav-item.login{
    text-align: right;
    
}

.nav-item {
  flex: 1;
  padding: 8px 16px;
  text-align: center;
}

.login-button{
  background-color: white;
  padding: 8px 16px;
  border: none;
  color: black;
  border-radius: 20px;
}

/* ========== Sections ========== */

/* --- SEZIONE 1 --- */

.section{
  padding: 150px 0;
}

.bg-jumbotron{
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.box.big.bg-dark-pink {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.container-sm h1 {
  font-size: 3rem;
  color: white;
}

.container-sm p{
  max-width: 500px;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 30px;

}

/* --- SEZIONE 2,3,4 --- */

.section.bg-white {
  background-color: #ffffff;
  padding: 60px 0;
}

.section.bg-light-gray {
  background-color: #D3D3D3;
  padding: 60px 0;
}

.section .container-sm {
  display: flex;
  justify-content: center;
}
.box.half {
  width: 400px;
  height: 250px;
}

.bg-blue {
  background-color: #1E90FF;
}

.bg-pink {
  background-color: #FFC0CA;
}

/* --- SEZIONE 5 --- */

.box.big.bg-green {
  width: 40%;
  height: 250px;
  background-color: #228b22;
  margin: 0 auto;
}

/* ========== Footer top ========== */

.section.bg-dark-gray {
  background-color: #23272A;
  padding: 60px 0;
}
.section.bg-dark-gray .container-sm{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.box.wide.bg-salmon {
  width: 20%;
  height: 500px;
  background-color: #F08180;


}
.box.long.bg-turquoise {
  width: 15%;
  height: 500px;
  background-color: #40e0d0;
  border: 2px dotted white;
}

/* ========== Footer bottom ========== */

.footer-sm{
  background-color: #23272A;
  border: 1px solid white;

}

.footer-base{
  background-color: #7FFFD4;
  width: 80%;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 20px;
  height: 50px;                    
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.logo-small, .bottom-text {
  background-color: #FDB7C1;
  border: 3px dotted black;
  margin: 0;
  padding: 5px 5px;
}
====== Color Classes ======
.bg-#DAA51E yellow
.bg-#00018B dark blue
.bg-#EF82ED dark pink
.bg-#ADD8E7 light blue
.bg-#D3D3D3 light gray
.bg-#1E90FF blue
.bg-#FFC0CA pink
.bg-#23272A dark gray
.bg-#2033AA turquoise
.bg-#7FFFD4 aquamarine
.bg-#FDB7C1 light pink
.bg-#F08180 salmon
